/*body*/
body {
  padding: 0;
  margin: 0;
  width: 100vw;
}


/*NavBar*/
.NavBar {
  overflow: hidden;
  background-color: #333;
}

.NavBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

.NavBar a.active {
  background-color: #4CAF50;
  color: white;
}


/*MainFrame*/
.MainFrame{
    height: 90vh;
    width: 100vw;
    padding-top: 1vh;
}

.ToolBar{
    position: relative;
    width: 30vw;
    background-color: aliceblue;
    height: inherit;
    float: left;
    left: 0vw;
    top: 0vh;
    overflow: scroll;
    
}



.Display{
    position: relative;
    width: 50vw;
    background-color: red;
    height: inherit;
    float: left;
    top: 0vh;
}

.Window{
    position: absolute;
    width: 95%;
    height: 90%;
    background-color: aliceblue;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.DEBUG{
    background-color: #4CAF50;
}

.Unknown{
    position: relative;
    width: 20vw;
    background-color: aliceblue;
    height: inherit;
    float: left;
    top: 0vh;
}
/*************/

/* Style the Option */
.Option ,.Property{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.Select{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Style the buttons inside the Option */
.Option button ,.Property button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}



/* Change background color of buttons on hover */
.Option button:hover ,.Property button:hover{
    background-color: #ddd;
}

/* Create an active/current tablink class */
.Option button.active ,.Property button.active{
    background-color: #ccc;
}

.PropertyTab{
    display: none;
}

.StyleTabContent{
    display: none;
    position: relative;
    height: 8vw;
    width:8vw;
    margin: 1vw;
    float: right;
}

.StyleTabContent button{
    height:inherit;
    width: inherit;
    border-radius: 25%;
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
}

.StyleTabContent button:hover{
    opacity: 0.5;
}